*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html, body{
   height: 100%;
   width: 100%;
   background: linear-gradient(90deg,#0C1446 80%,#175873 30%);
}



header{
	display:flex;
	width: 70%;
	height: 15vh;
	margin: auto;
	align-items: center;
}

.logo-container,.nav-links{
	display: flex;
}

.logo-container a img{
	width: 50px;
	height: 50px;
}
nav{
	flex: 1;
}
.nav-links{
	margin-right: 0;
	justify-content: flex-end;
	list-style: none;
}
.nav-link {
	margin-inline-end: 80px;
	color:#919191;
	text-decoration: none;
	font-size: 19px;
}

.nav-link:hover{
	color:#255784;
	background: #0C1446;
}

.container-contact{
	
	background: #87ACA3;
	position: absolute;
	box-sizing: border-box;
	border-radius: 15px;
	text-align: center;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 50%;
	max-height: 470px;
	max-width: 600px;
	padding: 30px;
}

.container-contact h1{
	margin-top: 0;
	font-weight: 200;
}

.txt-contact{
	border:2px solid grey;
	border-radius: 8px;
	margin: 8px 0;
	padding: 12px;
}

.txt-contact label{
	display: block;
	font-size: 14px;
	color: #0C1446;
	text-transform: uppercase;
	text-align: left;
	
}

.txt-contact input, .txt-contact textarea{
	
	background: none;
	width: 100%;
	font-size: 16px;
	margin-top:6px;
	outline: none;
	border: none;
	
}

.button{
	background: #0C1446;
	width: 50%;
	text-transform: uppercase;
	margin-top: 9px;
	display: block;
	padding: 13px 0;
	color: #fff;
	cursor: pointer;
	margin-left: 25%;
}

.copyright{
	font-size: 10px;
	right: 0;
	bottom: 0;
	padding: 10px;
	position: absolute;
}


@media screen and (max-width:1024px){

	.header{
		width: 90%;
		height: 100%;
	}

	html, body{
		height: 100%;
		width: 100%;
		background: linear-gradient(90deg,#0C1446 80%,#175873 30%);
	 }
	
}